//- layout.jade
doctype html
html(lang='en')
  head
    block title
      title Health and Fitness Tradeoff Analytics

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
    link(rel='stylesheet', href='/css/banner.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    div.container
      div.row
        div.col-lg-12
          div.row.top-nav
            div.col-lg-12
              h3.heading.left Health and Fitness Tradeoff Analytics
                | : Demo
              a.right(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/tradeoff-analytics/') Documentation
              a.right(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/#!/tradeoff-analytics') API Details
          div.row.header(style='padding-bottom:0px;')
            div.col-lg-6.col-xs-7
              h2 Health and Fitness Tradeoff Analytics NodeJS Application
              p   The IBM Watson Tradeoff Analytics service helps filter data with
                | multiple and conflicting objectives by reducing noise and identifying
                | ideal matches based off of analytical analysis through multiple defined
                | objectives. This provided sample application allows the user to select
                | various health related questions -- endurance training, strength training,
                | and weight loss -- and offers recommendations based off of the combination
                | of both exercise and diet related data. Using the IBM Watson widget, the
                | user is presented with visual graphs showing the various options filtered
                |from the initial list of data.
              a.learn-more(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/tradeoff-analytics.html') More about the Tradeoff Analytics service
            div.col-lg-4.col-xs-4.build-your-own
              h3 Build your own:
              a.left.fork(href='https://bluemix.net/deploy?repository=https://github.com/robisen1/watsonTA.git') Fork and Deploy on Bluemix
              a.right.fork(href='https://github.com/robisen1/watsonTA') Fork on Github
      block row-content

    script(type='text/javascript', src="/js/jquery-1.11.1.min.js")
    script(type='text/javascript', src='https://ta-cdn.mybluemix.net/v1/TradeoffAnalytics.js')
    script(src='js/index.js')
